﻿@{
    ViewData["Title"] = "Hastane Randevu Sistemi";
}
@{
    ViewData["Title"] = "Hastane Randevu Sistemi";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Hoş Geldiniz!</h1>
            <p>
                Hastane Randevu Sistemi'ne hoş geldiniz. Bu platform üzerinden kolayca randevularınızı planlayabilir ve takip edebilirsiniz.
            </p>
            <img src="https://www.riomed.com/wp-content/uploads/2021/11/blogpost.jpg" width="1024px" height="auto" alt="Hastane Resmi" class="img-fluid mt-4" />



        </div>
    </div>
    <div class="row mt-4">

        <div class="col-md-4 text-center">
            <img src="https://img.freepik.com/free-vector/physical-pain-injury-flat-composition-with-human-characters-suffering-patient-doctor-inside-smartphone-vector-illustration_1284-80339.jpg?size=626&ext=jpg&ga=GA1.1.2030000114.1701434955&semt=ais" width="512px" height="auto" alt="Hastane Resmi" class="img-fluid mt-4" />
            <p>
                Sistemi kullanmak için lütfen giriş yapın veya kayıt olun.
            </p>
            <div class=" justify-content-between mt-4">
                <button class="btn btn-primary">Giriş Yap</button>
                <button class="btn btn-primary">Kayıt Ol</button>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <img src="https://assets.materialup.com/uploads/e053a98a-da47-4147-8450-e86b57429f84/preview.jpg" height="512px" width="auto" alt="" class="img-fluid mt-4" />
            <p class="mt-4">
                Hastanenizi ve doktorunuzu seçip hemen randevunuzu oluşturabilirsiniz.
            </p>
            <a href="/Appointment" class="btn btn-primary">Randevu Oluştur</a>
        </div>
        <div class="col-md-4 text-center">
            <img src="https://img.freepik.com/free-vector/call-doctor-concept-doctors-answer-patient-questions-phone_1150-50289.jpg?size=626&ext=jpg" height="512px" width="auto" alt="" class="img-fluid mt-4" />
            <p class="mt-4">
                İstek, öneri ve şikayetleriniz için bizimle hemen iletişime geçebilirsiniz.
            </p>
            <a href="/Contact" class="btn btn-primary">İletişime Geç</a>
        </div>





    </div>
</div>
