@model hospital_project.ViewModels.ClinicViewModel
<form method="post" asp-action="ClinicHospitalMatch">
    
    <div class="form-group">
        <label for="selectedHospital">Select a Hospital:</label>
        @Html.DropDownListFor(model => model.SelectedHospitalId, new SelectList(Model.Hospitals, "Id", "Name"), "Select a Hospital", new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label for="selectedHospital">Select a Clinic:</label>
        @Html.DropDownListFor(model => model.SelectedClinicId, new SelectList(Model.Clinics, "Id", "Name"), "Select a Clinic", new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Eşleştir</button>
</form>