@model RegisterDto

<div class="container">
    <div class="row mt-5">
        <div class="col">
        </div>
        <div class="col align-self-center">
            <div class="card">
                <div class="card-header text-center">
                    Kayıt Ol
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <form method="post" asp-action="Register">
                            <div class="mb-3">
                                <label asp-for="Name" class="form-label">Ad Soyad</label>
                                <input type="text" class="form-control" asp-for="Name">
                            </div>
                            <div class="mb-3">
                                <label asp-for="Email" class="form-label">Email Adresi</label>
                                <input type="email" class="form-control" asp-for="Email">
                            </div>
                            <div class="mb-3">
                                <label asp-for="Password" class="form-label">Şifre</label>
                                <input type="password" class="form-control" asp-for="Password">
                            </div>
                            <div class="mb-3">
                                <label asp-for="Password" class="form-label">Şifre Tekrar</label>
                                <input type="password" class="form-control" asp-for="Password">
                            </div>
                            <div class="row justify-content-center">
                                <button type="submit" class="btn btn-primary justify-content-end col-3">Kaydol</button>
                            </div>
                        </form>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="col">
        </div>
    </div>
</div>
